@import "basic";
@import "layout";

body {
  background-color: var(--color-light);
}

.category-icon {
  display: flex;
  align-self: stretch;
  justify-self: stretch;
  justify-content: center;
  align-items: center;

  ul {
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;

    .active {
      background-color: var(--color-light);
      color: var(--color-dark);

      i {
        font-weight: 600;
      }
    }

    li {
      display: flex;
      align-self: stretch;
      text-align: center;
      justify-self: stretch;
      justify-content: center;
      justify-self: flex-start;
      padding: 20px 0px;

      i {
        font-size: 1.5rem;
      }

      &:hover {
        background-color: var(--color-light);
        color: var(--color-dark);
        font-weight: 700;

        i {
          font-weight: 600;
          color: var(--color-dark);
        }
      }
    }
  }
}

.dashboard-logo {
  margin-top: 30px;
  position: relative;
  padding: 0px 22px;
  padding-bottom: 12px;
  border-bottom: 1px solid rgb(157, 157, 157, 0.4);

  h2 {
    font-size: 1.3rem;
    line-height: 1;
    margin-bottom: 3px;
  }
  p {
    font-size: 12px;
  }
}

.lable-menu {
  .lable-menu-container {
    display: flex;
    flex-direction: column;
    gap: 13px;

    .item-2 > .sub-menu-item-container {
      color: #3e3d3a;
      // color: darken(#868686, 25%);
      font-weight: 400;
      display: flex;
      flex-direction: column;
      margin-top: 10px;
      gap: 7px;
      font-size: 14px;
      margin-right: 20%;
      max-width: 70%;
      margin-left: auto;
      width: 100%;

      li:last-child {
        font-weight: 600;
        // color: var(--color-dark);
        color: darken(#3e3d3a, 10%);
      }
    }
  }

  ul > li > div > p {
    font-weight: 550;
  }
}

.recent-project-with-glance {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  column-gap: 22px;

  .recent-projects {
    font-weight: 550;
    align-self: center;
    // margin-bottom: -5px;
  }

  .view-all {
    justify-self: end;
    color: var(--color-primary);
    align-self: center;
    // margin-bottom: -5px;
  }

  .card-orange {
    background-color: var(--color-light-dark-2);
    padding: 24px;
    border-radius: 18px;
    height: 360px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .progress-bar-container {
      p {
        font-size: 12px;
      }
      .progress {
        overflow: hidden;
        width: 100%;
        display: block;
        background-color: rgb(17, 17, 17, 0.2);
        border-radius: 50rem;
        height: 6px;
        margin-top: 7px;
        position: relative;

        &::after {
          content: "";
          position: absolute;
          height: 100%;
          width: 40%;
          background-color: var(--color-dark);
          border-radius: 50rem;
          // left: 0px;
        }
      }
    }

    .card-space-wrapper {
      .deadline-tag {
        font-size: 12px;
        margin-top: 15px;
      }
    }
  }

  .profile-menu {
    margin-bottom: 30px;

    i {
      font-size: 22px;
    }
    .multiple-div-container {
      display: flex;
      flex-wrap: wrap;
      align-items: center;

      .count {
        display: block;
        height: 40px;
        width: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--color-white);
        font-size: 14px;
        background-color: var(--color-dark);
        border-radius: 50%;
        z-index: 2;
        border: 2px solid var(--color-light-dark-2);
      }
      .multiple_avatar {
        height: 40px;
        width: 40px;
        object-fit: cover;
        border-radius: 50%;
        margin-left: -15px;
        z-index: 1;
        border: 2px solid var(--color-light-dark-2);
      }
      #avatar-2 {
        z-index: 0;
      }
    }
  }

  .card-light {
    background-color: var(--color-light-dark);
    padding: 24px;
    border-radius: 18px;
    height: 360px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .progress-bar-container {
      p {
        font-size: 12px;
      }
      .progress_2 {
        overflow: hidden;
        width: 100%;
        display: block;
        background-color: rgb(17, 17, 17, 0.2);
        border-radius: 50rem;
        height: 6px;
        margin-top: 7px;
        position: relative;

        &::after {
          content: "";
          position: absolute;
          height: 100%;
          width: 75%;
          background-color: var(--color-dark);
          border-radius: 50rem;
          // left: 0px;
        }
      }
    }

    .card-space-wrapper {
      .deadline-tag {
        font-size: 12px;
        margin-top: 15px;
      }
    }
  }

  .profile-menu {
    margin-bottom: 30px;

    i {
      font-size: 22px;
    }
    .multiple-div-container {
      display: flex;
      flex-wrap: wrap;
      align-items: center;

      .count_2 {
        display: block;
        height: 40px;
        width: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--color-dark);
        font-size: 14px;
        background-color: var(--color-light-dark);
        border-radius: 50%;
        z-index: 2;
        border: 2px solid var(--color-dark);
      }
      .multiple_avatar_light {
        height: 40px;
        width: 40px;
        object-fit: cover;
        border-radius: 50%;
        margin-left: -15px;
        z-index: 1;
        border: 2px solid var(--color-light-dark);
      }
      #avatar-3 {
        z-index: 0;
      }
    }
  }

  .reminder-heading {
    grid-column: 1 / -1;
    margin-top: 16px;
    font-weight: 550;
    // margin-bottom: -10px;
  }
  .reminder-card-container {
    grid-column: 1 / -1;
    border: 2px solid var(--color-light);
    border-radius: 1rem;
    padding: 18px 24px;
  }
}

.time-tagline {
  font-size: 12px;
}

.indicator {
  justify-content: center;

  div {
    display: flex;
    margin-inline-end: 6px;
    width: 3px !important;
    height: 3px !important;
    background-color: var(--color-primary);

    &:last-child {
      margin: 0px;
    }
  }
}
